*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

:root {
  --color-black: #1f2937;
  --color-gray: #e5e7eb;
  --color-white: #f9faf8;
  --color-black: #1f2937;
  --color-blue: #3882f6;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section:has(> .header), .section:has(> .hero), .section:has(> .footer) {
  background-color: var(--color-black);
  color: var(--color-white);
}

.section:has(> .quote) {
  background-color: var(--color-gray);
  color: var(--color-black);
}

.section {
  display: flex;
  justify-content: center;
}

.section > div {
  width: 1000px;
  display: flex;
  justify-content: center;
}

.hero, .info, .quote, .call-to-action {
  padding: 60px 0;
}

.header {
  padding: 8px 0;
}

.header .logo {
  margin-right: auto;
  font-size: 24px;
  font-weight: bold;
}

.hero div {
  flex: 1;
}

.title {
  font-size: 48px;
  font-weight: 900;
}

.hero-button {
  background-color: var(--color-blue);
  color: var(--color-white);
  border-color: #3882f6;
}

.header a, .hero-content p, .footer {
  color: var(--color-gray);
  font-size: 18px;
}

.info {
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
}

.info h2 {
  margin: 24px 0;
  font-size: 36px;
  font-weight: 900;
}

.info-content {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.card {
  width: 140px;
}

.card p {
  font-size: 18px;
}

.card-img {
  border: 2px solid var(--color-blue);
  width: 140px;
  height: 140px;
}

.quote {
  flex-direction: column;
  align-items: center;  
}

.quote p:nth-child(1) {
  width: 700px;
  
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

.quote p:nth-child(2) {
  margin-left: 400px;

  font-size: 30px;
  font-weight: bold;
}

.cta-box {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px 60px;

  background-color: var(--color-blue);
  color: var(--color-white);
}

.cta-text h2 {
  font-size: 30px;
  font-weight: bold;
}

.cta-text p {
  font-size: 18px;
}

.cta-button {
  background-color: var(--color-blue);
  color: var(--color-white);
  border-color: var(--color-white);
}

.footer {
  padding: 24px 0;
}

button {
  font-weight: bold;
  padding: 6px 24px;
  border-style: solid;
  border-radius: 8px;
}